pkgbase = compazio-bin
	pkgdesc = Orquestração visual de agentes e terminais
	pkgver = 0.2.0-beta.1
	pkgrel = 1
	url = https://www.compazio.app
	arch = x86_64
	license = AGPL-3.0-only
	depends = alsa-lib
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = fuse2
	optdepends = git: Controle de versão integrado
	provides = compazio
	conflicts = compazio
	options = !strip
	source = Compazio-0.2.0-beta.1-x64.AppImage::https://github.com/gabriel-r-machado/compazio/releases/download/v0.2.0-beta.1/Compazio-0.2.0-beta.1-x64.AppImage
	source = compazio.desktop
	sha256sums = SKIP
	sha256sums = 6d27e4b2079926f1133d3e5e946a973c574b9a5ece2c171a12c3a237a5c9b7ad

pkgname = compazio-bin
